
logging.level.root=DEBUG
server.servlet.context-path=/api

# hibernate config
spring.jpa.hibernate.ddl-auto=create-drop
spring.datasource.url=jdbc:mysql://localhost:3306/<dbName>
spring.datasource.username=<dbUser>
spring.datasource.password=<dbPassword>
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver


# swagger config
springdoc.api-docs.path=/chatop-api-docs
springdoc.swagger-ui.disable-swagger-default-url=true